.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
  padding: 15px;
}
.p-item{
  color:#e42051;
  padding: 5px;
  font-size: 10 px;
}
.authentication form {
  margin-bottom: 1rem;
}